<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!--&#45;&#45;      <div class="mb-3">&ndash;&gt;-->
<!--            &lt;!&ndash;        <label for="exampleInputEmail1" class="form-label">Email address</label>&ndash;&gt;-->
<!--            &lt;!&ndash;        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">&ndash;&gt;-->
<!--            &lt;!&ndash;        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>&ndash;&gt;-->
<!--            &lt;!&ndash;      </div>&ndash;&gt;-->
<!--            &lt;!&ndash;      <div class="mb-3">&ndash;&gt;-->
<!--            &lt;!&ndash;        <label for="exampleInputPassword1" class="form-label">Password</label>&ndash;&gt;-->
<!--            &lt;!&ndash;        <input type="password" class="form-control" id="exampleInputPassword1">&ndash;&gt;-->
<!--            &lt;!&ndash;      </div>&ndash;&gt;-->
<!--            &lt;!&ndash;      <div class="mb-3">&ndash;&gt;-->
<!--            &lt;!&ndash;        <input type="checkbox" class="form-check-input" id="exampleCheck1">&ndash;&gt;-->
<!--            &lt;!&ndash;        <label class="form-check-label" for="exampleCheck1">Check me out</label>&ndash;&gt;-->
<!--            &lt;!&ndash;      </div>&ndash;&gt;-->
<!--            &lt;!&ndash;      <button type="submit" class="btn btn-primary">Submit</button>&ndash;&gt;-->
<!--                    <div class="row g-3 align-items-center mt-2 ms-3">-->
<!--                      <div class="col-auto me-1">-->
<!--                        <label for="inputEmail" class="col-form-label m">Email</label>-->
<!--                      </div>-->
<!--                      <div class="col-auto">-->
<!--                        <input type="email" id="inputEmail" class="form-control" aria-describedby="emailHelpInline">-->
<!--                      </div>-->

<!--                    </div>-->
<!--                    <div class="row g-3 align-items-center mt-2">-->
<!--                      <div class="col-auto">-->
<!--                        <label for="inputPassword6" class="col-form-label mt-0">Password</label>-->
<!--                      </div>-->
<!--                      <div class="col-auto">-->
<!--                        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">-->
<!--                          <button class="btn btn-primary" type="submit">Submit</button>-->
<!--                      </div>-->
<!--                    </div>-->